<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Movie Recommendation System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>🎬 Movie Recommendation System</h1>

<form action="/recommend" method="POST">

<input
type="text"
name="movie"
placeholder="Enter Movie Name..."
required>

<button type="submit">

Recommend

</button>

</form>

{% if recommendations %}

<h2>Recommended Movies</h2>

<div class="movies">

{% for movie in recommendations %}

<div class="movie-card">

{{ movie }}

</div>

{% endfor %}

</div>

{% endif %}


{% if recommendations is not none and recommendations|length == 0 %}

<p class="error">

Movie "{{searched_movie}}" Not Found

</p>

{% endif %}

</div>

</body>

</html>